
<img src='/images/esta.jpg' width=60px height=60px>
<h3>Estadísticas:</h3>
<p>Numero de preguntas: <%= nquiz  %></p>
<p>Numero de comentarios: <%= ncomment %></p>
<p>Media de comentarios por pregunta: <%= media %></p>
<p>Numero de preguntas sin comentarios: <%= no %></p>
<p>Numero de preguntas con comentarios: <%= si %></p>
