<table>
<% var i; for (i=0;i<quizes.length;i++){ %>
    <tr>
    <% 
    var tcolor='grey';
    switch (quizes[i].categoria) {
        case "Humanidades":
            tcolor='red';
            break;
        case "Ocio":
            tcolor='yellow';
            break;
        case "Ciencia":
            tcolor='green';
            break;
        case "Tecnologia":
            tcolor='blue';
            break;
            } 
    %>
    <td><label class="redondo" style="background:<%= tcolor %>;color:white" disabled><%= quizes[i].categoria %></label></td> 
    <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
     <td>
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick ="return confirm('Borrar: <%= quizes[i].pregunta %>');">borrar</button> 
        </form>
    </td>
    </tr>
<% } %>    
</table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<br><br>


